# ==============================================================================
# OPERATING SYSTEMS
# ==============================================================================

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# ==============================================================================
# EDITORS
# ==============================================================================

# VS Code
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.code-workspace

# Vim
.*.sw[a-p]
.*.un~
.vim/.netrwhist
